# =========================
# STM32
# =========================
Debug/
Release/
build/
*.o
*.elf
*.bin
*.hex
*.map
*.su
*.lst
*.obj
.mxproject

# =========================
# Python / FastAPI
# =========================
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.venv/
.env
.pytest_cache/
*.log

# =========================
# SQLite
# =========================
*.db
*.db-journal
*.sqlite
*.sqlite3

# =========================
# Docker
# =========================
docker-compose.override.yml

# =========================
# OS / Environment
# =========================
.DS_Store
Thumbs.db
